.signupUser-img{
    width: 100%;
    margin: 0%;
    margin-left: 0%;
}
.signupUser-head{
    position: relative;
    top: 13px;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    margin-top: 5rem;
    color:  #1A728E ;
  }
  .signupUser-label{
    position: relative;
    left: 36rem;
    top: 3rem;
    margin-top: 2px;
    color: #1A728E;
  }
  .signupUser-input{
    position: relative;
    left: 30rem;
    margin-top: 50px;
    margin-left: 6rem;
    width: 20rem;
    height: 2.5rem;
  }
   .signupUser-input::placeholder{
    text-indent: 2rem;
    font-weight: lighter;
   }
   .signupUser-select1{
    position: relative;
    left: 52rem;
    bottom: 2rem;
    background-color: transparent;
    border: transparent;
   }
   .signupUser-select{
    position: relative;
    left: 49rem;
    bottom: 2rem;
    background-color: transparent;
    border: transparent;
   }
   .signupUser-a{
    text-decoration: none;
    position: relative;
    left: 50rem;
    top: -1.7rem;
    font-size: 18px;
    color: #1A728E;
   }
   .signupUser-btn{
    background-color: #1A728E;
    width: 9rem;
    height: 30px;
    position: relative;
    left: 42rem;
    top: 2rem;
    color: white;
    font-weight: 100;
    padding: 2px 4px 4px 2px;
    border: transparent;
    border: #1A728E;
   }

   .signupUser-btn:hover{
    background-color: #0a4a5e;
   }

   .signupUser-btn:active{
    background-color: #84bdcf;
   }
   .signupBtn-logo{
    width: 13px;
    height: 10px;
    position: relative;
    left: 40rem;
    top: 2rem;
   }
   .signupUser-main{
    position: relative;
    bottom: 2rem;

   }
   .signupUser-p{
    position: relative;
    left:37rem ;
    top: 1rem;
    font-size: 18px;
    color: #1A728E;
   }
   .signupUser-validation{
    position: relative;
    left: 36rem;
   }

   .gender-btn{
    position: relative;
    left: 35rem;
    top: 4rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
   }