.booked-service-container {
    max-width: 300px; 
    max-height: 400px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 30px;
    /* display: flex; */
  }
  
  .service-image {
    width: 100px; 
    height: 100px; 
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .booking-info {
    flex: 1;
  }