.user-edit-head{
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  margin-top: 3rem;
  color:  #1A728E ;

}
.user-edit-label{
  width: 10rem;
  margin-top: 1rem;
  color: #1A728E;
  font-size: larger;

  
}
.user-edit-input{
  margin-top: 30px;
  margin-bottom: 1rem;
  margin-left: 6rem;
  width: 20rem;
  height: 2.5rem;
  border-radius: 3px;
  border-color: transparent;
}
 .user-edit-input::placeholder{
  text-indent: 2rem;
  font-weight: lighter;
 }
 .user-edit-select1{
  background-color: transparent;
  border: transparent;
 }

 .user-edit-a{
  text-decoration: none;
  font-size: 18px;
  color: #1A728E;
 }
 .user-edit-btn{
  background-color: #1A728E;
  width: 9rem;
  height: 30px;
  color: white;
  font-weight: 100;
  padding: 2px 4px 4px 2px;
  border: transparent;
  border: #1A728E;
  margin-left: 10rem;
  margin-top: 3rem;
 }

 .user-edit-btn:hover{
  background-color: #0a4a5e;
 }

 .user-edit-btn:active{
  background-color: #84bdcf;
 }
 .user-edit-logo{
  width: 13px;
  height: 10px;
  position: relative;
  left: 40rem;
  top: 2rem;
 }
 .user-edit-main{
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  padding: 1rem;
  background-color: #4daaece5;
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
 margin-left: 5rem;
 margin-top: 3rem;
 min-width: 60rem;
 }
 .user-edit-p{
  font-size: 18px;
  color: #1A728E;
 }
 .user-edit-validation{
width: 30rem;
 }

 .user-edit-gender-btn{
  margin-bottom: 2rem;
  margin-left: 1rem;
 }

 .user-edit-genderflex{
  display: flex;
  margin-top: 1rem;
  margin-left: 5rem;
 }

 .user-edit-file{
  margin-top: 1rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
 }
 .user-edit-submain{
  padding-left: 13rem;
 }