.viewservices-box {
    background-color: rgb(67, 168, 230);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  
  .viewservices-box p {
    margin: 5px 0;
  }
  #clor{
    color: black;
    font-size: 18px;
    font-weight: 700;
  }