.emergencysinglecontributer-main{
  width: 600px;
  min-height: 700px;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  padding: 1rem;
  background-color: #4daaece5;
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  margin: 45px;
  margin-left: 150px;
  border-radius: 12px;
  padding: 20px;
}
.emergencysinglecontributer-button{
  margin-left: 120px;
}
.emergencysinglecontributer-main input{
  width: 300px;
  height: 40px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 10px;
}
.emergencysinglecontributer-main textarea{
  width: 300px;
  height: 120px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 10px;
}