
.profU-name{
  width: 30rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  padding: 1rem;
  margin:5%;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  position: relative;
  left: 2.3rem;
  top: 3rem;
  align-items: center;
}

.profU-name1{
  width: 30rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  padding: 1rem;
  margin:5%;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  position: relative;
  left: 0rem;
  top: 3rem;
  align-items: center;
}

.profU-img{
  border: black;
  border-radius: 50%;
  object-fit: contain;
  width: 7rem;
  height: 7rem;

}

.profU-left{
  margin: auto;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.profU-left1{
margin-left: 1rem;
font-size: large;
font-weight: bold;
text-align: left;
}

.profU-logout{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 85px;
  height: 40px;
  font-size: small;
  font-weight: bold;
  margin-top: 3rem;
  margin-left: 45%;
}

.profU-logout:hover{
  background-color: #EE9F43;
}

.profU-logout:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}

.profU-details{
  position: relative;
  left: 2rem;
  top: 3rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  padding: 1rem;
}

.profU-head{
  text-align: center;
}

.profU-body{
  margin: 3rem;
  font-size: large;
}

.profU-edit{
  color: white;
  background-color:  #EE9F43;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 8px;
  width: 100px;
  height: 50px;
  font-weight: bold;
  margin-top: 3rem;
  margin-left: 45%;
  letter-spacing: .1rem;
}

.profU-edit:hover{
  background-color:  #44949F;
}

.profU-edit:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px  #44949F; 
}


/* ----- Profile User Ends ----- */


/* ----- Profile Edit User Starts ----- */

.profeditU-main{
  width: 30rem;
  margin: 2rem;
  margin-left: 30rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  align-items: center;
  padding: 5rem;
}

.profeditU-input{
  width: 280px;
  height: 50px;
  border-radius:.3rem;
  box-shadow: inset 0px 0px 20px 0px white;
  border: none;
  outline: none;
  background-color: #fff;
  margin: .5rem 0rem;
}

.profeditU-label{
  color: #E35F14;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0rem 2rem;
}

.profeditU-button{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 13rem;
  height: 40px;
  font-size: small;
  font-weight: bold;
  margin: 30px 0px 10px 40px;
}

.profeditU-button:hover{
  background-color: #E35F14;
}

.profeditU-button:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}