
.sidebar-admin{
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  padding: 1rem;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  margin-top: 3rem;
  margin-left: 2rem;

}

.profU-name1{
  width: 30rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  padding: 1rem;
  margin:5%;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  position: relative;
  left: 0rem;
  top: 3rem;
  align-items: center;
}

.profU-img{
  border: black;
  border-radius: 50%;
  object-fit: contain;
  width: 7rem;
  height: 7rem;

}

.profU-left{
  margin: auto;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.profU-left1{
margin-left: 1rem;
font-size: large;
font-weight: bold;
text-align: left;
}

.Admin-logout{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 85px;
  height: 40px;
  font-size: small;
  font-weight: bold;
  margin-top: 3rem;
  margin-left: 45%;
}

.Admin-logout:hover{
  background-color: #EE9F43;
}

.Admin-logout:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}

.profU-details{
 margin-top: 3rem;
 margin-left: 2rem;
 width: 59rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  padding: 1rem;
}

.profU-head{
  text-align: center;
}

.dashboard-box{
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  padding: 1rem;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  margin-left: 4rem;
}

.profU-edit{
  color: white;
  background-color:  #EE9F43;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 8px;
  width: 100px;
  height: 50px;
  font-weight: bold;
  margin-top: 3rem;
  margin-left: 45%;
  letter-spacing: .1rem;
}

.profU-edit:hover{
  background-color:  #44949F;
}

.profU-edit:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px  #44949F; 
}



