.admin_advertiser_request{
    margin-top: 30px;
    /* margin-left: 150px; */
        width: 900px;
        height: 100px;
        background-color: rgb(54, 131, 225);
        border-radius: 20px;
    }
    .admin_advertiser_request img{
        padding: 10px;
    }

    /* .admin_advertiser_time{
        padding-left: 400px;
    } */
    #arrow{
        padding-top: 20px;
    }
    .admin_advertiser_request h4{
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .work-email p{
        padding-top: 20px;
        padding-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* max-width: 100px; */
        width: 100%;
    }
    .work-reg p{
        padding-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        
    }