.admin_advertiser_request{
    margin-top: 30px;
    /* margin-left: 150px; */
        width: 500px;
        height: 100px;
        background-color:hsla(0, 0%, 100%, 0.521);
        border-radius: 5px;
    }
    .admin_advertiser_request img{
        padding: 10px;
    }

    /* .admin_advertiser_time{
        padding-left: 400px;
    } */
    #arrow{
        padding-top: 20px;
    }
    .admin_advertiser_request h4{
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .work-email p{
        padding-top: 20px;
        padding-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* max-width: 100px; */
        width: 100%;
    }
    .work-reg p{
        padding-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        
    }
    .workshop-request-main-box{
        margin-top: 3rem;
        margin-left: 3rem;
         border: 1px solid rgb(180, 179, 179);
         border-radius: .5rem;
         background-color: #4daaece5;
         box-shadow: 2px 2px 10px rgb(143, 144, 144);
         padding: 1rem;
         width: 60rem;
         min-height: 43.4rem
      }

    .Workshop-request-heading{
        text-align: center;
        margin: 2rem;
        color: white;
      }

      .Workshop-request-box{
        text-align: center;
       padding: 1rem;
       height: auto;
      }
     .workshop-request-box{
        width: 50rem;
        
     }