.editMechanic-head{
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin-top: 3rem;
    color:  #1A728E ;
  
  }
  .editMechanic-label{
    width: 10rem;
    margin-top: 1rem;
    color: #1A728E;
    font-size: larger;
  }
  .editMechanic-input{
    margin-top: 30px;
    margin-bottom: 1rem;
    margin-left: 6rem;
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    border: transparent;
  }
   .editMechanic-input::placeholder{
    text-indent: 2rem;
    font-weight: lighter;
   }
  
  
   .editMechanic-btn{
    background-color: #1A728E;
    width: 9rem;
    height: 30px;
    color: white;
    font-weight: 100;
    padding: 2px 4px 4px 2px;
    border: transparent;
    border: #1A728E;
    margin-left: 12rem;
    margin-top: 2rem;
   }
  
   .editMechanic-btn:hover{
    background-color: #0a4a5e;
   }
  
   .editMechanic-btn:active{
    background-color: #84bdcf;
   }
   
   .editMechanic-main{
    border: 1px solid rgb(180, 179, 179);
    border-radius: .5rem;
    padding: 1rem;
    background-color: #4daaece5;
    box-shadow: 2px 2px 10px rgb(143, 144, 144);
   margin-left: 3rem;
   margin-top: 3rem;
   min-width: 60rem;
   }
   .editMechanic-p{
    font-size: 18px;
    color: #1A728E;
   }
   .editMechanic-validation{
  width: 30rem;
   }
   .mechanic-edit-gender-btn{
    margin-bottom: 2rem;
    margin-left: 1rem;
   }
  
   .mechanic-edit-genderflex{
    display: flex;
    margin-top: 1rem;
    margin-left: 5rem;
   }
  
  .editMechanic-submain{
    padding-left: 13rem;
  }
  
  

  
   .editMechanic-file{
    margin-top: 1rem;
    margin-left: 5rem;
   }
