.signupMech-img{
    width: 100%;
    margin: 0%;
    margin-left: 0%;
}
.signupMech-head{
    position: relative;
    top: 13px;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    margin-top: 5rem;
    color:  #1A728E ;
  }
  .signupMech-label{
    position: relative;
    left: 38rem;
    top: -2rem;
    margin-top: 2px;
    color: #1A728E;
  }
  .signupMech-input{
    position: relative;
    left: 29rem;
    margin-top: 50px;
    margin-left: 6rem;
    width: 20rem;
    height: 2.5rem;
  }
   .signupMech-input::placeholder{
    text-indent: 2rem;
    font-weight: lighter;
   }
   .signupMech-submain{
    
   }
   
