
.signupMech-head{
   
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color:  #1A728E ;
  }
  .signupMech-label{
    width: 8rem;
   margin-left: 10rem;
    margin-top: 0.5rem;
    color: #1A728E;
    
  }
  .signupMech-input{
    border-color: transparent;
   border-radius: 7px;
    margin-top: 0.5rem;
    margin-left: 10rem;
    width: 20rem;
    height: 2.5rem;
  }
   .signupMech-input::placeholder{
    text-indent: 2rem;
    font-weight: lighter;
   }
   .signupMech-select1{
   
   
    background-color: transparent;
    border: transparent;
   }
   .signupMech-select{
   
   
    background-color: transparent;
    border: transparent;
   }
   
   .signupMech-btn{
    background-color: #1A728E;
    border-radius: 8px;
    width: 8rem;
    height: 40px;
    margin-left: 20rem;
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    padding: 2px 4px 4px 2px;
    border: transparent;
    border: #1A728E;
   }

   .signupMech-btn:hover{
    background-color: #0a4a5e;
   }

   .signupMech-btn:active{
    background-color: #84bdcf;
   }
   
   
   .signupMech-main{
    margin-top: 3rem;
  margin-left: 5rem;
   border: 1px solid rgb(180, 179, 179);
   border-radius: .5rem;
   background-color: #4daaece5;
   box-shadow: 2px 2px 10px rgb(143, 144, 144);
   padding: 1rem;
   width: 60rem;
    
   }
  
   .signupMech-validation{
   margin-left: 10rem;
   width: 20rem;
   }
   .fileMech-btn{
    position: relative;
    left: 10rem;
    margin: 1rem;

   }
   .genderMech-btn{
    display: flex;
    margin-left: 10rem;
   }
   .genderMech-label{
    margin: 1rem;
   }
